flows/flow-toggle.json
    {
        "id": "3e85e6a5f3bc71b9",
        "type": "subflow",
        "name": "Flow Toggle",
        "info": "Make this node flow control from Home Assistant input_boolean payload",
        "category": "RACKSYNC",
        "in": [
            {
                "x": 260,
                "y": 320,
                "wires": [
                    {
                        "id": "c3117454b92889b4"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 670,
                "y": 280,
                "wires": [
                    {
                        "id": "6c795579302a4f86",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {
            "module": "node-red-contrib-racksync-hass-flow",
            "version": "0.1.3",
            "author": "RACKSYNC CO., LTD. <jack@racksync.com>",
            "desc": "Make this node flow control from Home Assistant input_boolean payload",
            "keywords": "Home Assistant, HASS, RACKSYNC, Flow, Input Boolean, Flow",
            "license": "MIT"
        },
        "color": "#befc03",
        "inputLabels": [
            "flow input & input_boolean"
        ],
        "outputLabels": [
            "passthrough"
        ],
        "icon": "node-red/arrow-in.svg",
        "status": {
            "x": 620,
            "y": 220,
            "wires": [
                {
                    "id": "c3117454b92889b4",
                    "port": 0
                }
            ]
        },
    
    "flow":[
        {
            "id": "c3117454b92889b4",
            "type": "change",
            "z": "3e85e6a5f3bc71b9",
            "name": "change",
            "rules": [
                {
                    "t": "change",
                    "p": "data.state",
                    "pt": "msg",
                    "from": "on",
                    "fromt": "str",
                    "to": "true",
                    "tot": "str"
                },
                {
                    "t": "change",
                    "p": "data.state",
                    "pt": "msg",
                    "from": "off",
                    "fromt": "str",
                    "to": "false",
                    "tot": "str"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 420,
            "y": 300,
            "wires": [
                [
                    "6c795579302a4f86"
                ]
            ]
        },
        {
            "id": "6c795579302a4f86",
            "type": "traffic",
            "z": "3e85e6a5f3bc71b9",
            "name": "",
            "property_allow": "data.state",
            "filter_allow": "true",
            "ignore_case_allow": false,
            "negate_allow": false,
            "send_allow": false,
            "property_stop": "data.state",
            "filter_stop": "false",
            "ignore_case_stop": false,
            "negate_stop": false,
            "send_stop": false,
            "default_start": false,
            "differ": false,
            "x": 430,
            "y": 360,
            "wires": [
                []
            ]
        },
        {
            "id": "3c7ea1b05840c7bc",
            "type": "subflow:3e85e6a5f3bc71b9",
            "z": "db8c62e16710e29e",
            "name": "",
            "env": [
                {
                    "name": "GLOBAL_VAR",
                    "value": "input_1",
                    "type": "str"
                }
            ],
            "x": 370,
            "y": 380,
            "wires": [
                [
                    "7329fcac884493b9"
                ]
            ]
        }
    ] 
    }
